# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- List common libraries used in Data Science
- List commonly used Data Science tools
- Show example of arthimetic expression in python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
----------------------
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Naol Legesse